<nav  class="nav bg-purple justify-content-center">
  <a class="nav-link text-white" href="/admin"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
  <a class="nav-link text-white" href="/admin/orders"><i class="fa fa-home" aria-hidden="true"></i> ORDERS</a>
  <a class="nav-link text-white" href="/admin/logout"><i class="fa fa-home" aria-hidden="true"></i> LOGOUT</a>
  
</nav>

<style>
  body {
    font-family: "Lato", sans-serif;
  }

  :root {
    --primary: #94618e;
  }

  .justify {
    text-align: justify;
  }

  .text-purple {
    color: var(--primary);
  }

  .bg-purple {
    background-color: var(--primary);
    color: white;
  }
</style>