<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">

        <!-- Single Catagory -->

        <div class="card-group">
            <div class="card">
                <img src="img/bg-img/1.jpg" class="card-img-top" alt="img/bg-img/1.jpg">
                <div class="card-img-overlay">
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From Rs . 38</p>
                        <h4>Shoes</h4>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="img/bg-img/5.jpg" class="card-img-top" alt="img/bg-img/1.jpg">
                <div class="card-img-overlay">
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From Rs . 118</p>
                        <h4>Plants</h4>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="img/bg-img/1.jpg" class="card-img-top" alt="img/bg-img/1.jpg">
                <div class="card-img-overlay">
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From Rs . 359</p>
                        <h4>Modern Rocking Chair</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-group">
            <div class="card">
                <img src="img/bg-img/5.jpg" class="card-img-top" alt="img/bg-img/1.jpg">
                <div class="card-img-overlay">
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From Rs . 38</p>
                        <h4>Shoes</h4>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="img/bg-img/1.jpg" class="card-img-top" alt="img/bg-img/1.jpg">
                <div class="card-img-overlay">
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From Rs . 118</p>
                        <h4>Plants</h4>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="img/bg-img/5.jpg" class="card-img-top" alt="img/bg-img/1.jpg">
                <div class="card-img-overlay">
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From Rs . 359</p>
                        <h4>Modern Rocking Chair</h4>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-group">
            <div class="card">
                <img src="img/bg-img/1.jpg" class="card-img-top" alt="img/bg-img/1.jpg">
                <div class="card-img-overlay">
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From Rs . 38</p>
                        <h4>Shoes</h4>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="img/bg-img/5.jpg" class="card-img-top" alt="img/bg-img/1.jpg">
                <div class="card-img-overlay">
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From Rs . 118</p>
                        <h4>Plants</h4>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="img/bg-img/1.jpg" class="card-img-top" alt="img/bg-img/1.jpg">
                <div class="card-img-overlay">
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From Rs . 359</p>
                        <h4>Modern Rocking Chair</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Product Catagories Area End -->
</div>
<!-- ##### Main Content Wrapper End ##### -->
